<html>
    <div style="float:left;">
    {% if deck %}
	<b>Identity:</b><br />
	{{ deck.identity }}<br /><br />
    {% endif %}
    {% if cat_deck %}
	{% for type, subdeck in cat_deck.main.iteritems() %}
	    <b>{{ type }} ({{ subdeck.total }} total, {{ subdeck.cards|length }} unique):</b><br />
	    {% for card in subdeck['cards'] %}
		{{ card.name }} x{{card.qty}}<br />
	    {% endfor %}<br />
	{% endfor %}
	<b>{{ deck.main|sum(attribute="qty") }} total, {{ deck.main|length }}
	unique</b><br /><br />
    {% endif %}
    </div>
    <div style="float:right;">
    {% if flaws %}
	<b>Flaws:</b>
	{% for flaw in flaws %}
	    {{ flaw }}
	{% endfor %}
    {% endif %}
    </div>
    <div style="float:left;">
	<form action="/read_deck" method="POST">
	    <textarea name="deck_data" rows="30" cols="80"></textarea>
	    <br />
	    <input type='submit' />
	</form>
    </div>

</html>
