<html>
    <head>
	<style>
	    .table_header { font-weight:bold; }
	    .table_left_header { width:150px; }
	    .table_top_header td { width:75px; }
	    .table_title { font-size:32; }
	</style>
    </head>
    <div style="float:left;">
    {% if deck %}
	<b>Side:</b> {{ side }}<br /><br />
	<b>Identity:</b><br />
	{{ identity }}<br /><br />
    {% endif %}
    {% if cat_cards %}
	{% for type, subdeck in cat_cards.iteritems() %}
	    <b>{{ type }} ({{ subdeck.total }} total, {{ subdeck.cards|length }} unique):</b><br />
	    {% for card in subdeck['cards'] %}
		{{ card.name }} x{{ card.quantity }}<br />
	    {% endfor %}<br />
	{% endfor %}
	<b>{{ deck.total_cards }} total, {{ deck.total_unique_cards }}
	unique</b><br /><br />
    {% endif %}
    </div>
    <div style="float:right;">
    {% if flaws %}
	<b>Flaws:</b>
	{% for flaw in flaws %}
	    {{ flaw }}
	{% endfor %}
    {% endif %}
    </div>
    <div style="float:left;">
	<form action="/read_deck" method="POST">
	    <textarea name="deck_data" rows="30" cols="80">
	    {{ deck }}
	    </textarea>
	    <br />
	    <input type='submit' />
	</form>
    </div>
    <div style="float:left; width:100%;">
	<b>Stats:</b><br />
	{% for analysis_block in analysis %}
	    <table class="analysis_block">
	    <caption class="table_title">{{ analysis_block.title }}</caption>
	    {% for row in analysis_block.table %}
		{% if loop.first %}
		<tr class="table_header table_top_header">
		{% endif %}
		{% for item in row %}
		    <td {% if loop.first %}
			class="table_header table_left_header"{% endif %}>
			{{ item }}
		    </td>
		{% endfor %}
		{% if loop.first %}</b>{% endif %}
		</tr>
	    {% endfor %}
	    </table><br />
	{% endfor %}
    </div>

</html>
