<html>
    <div style="float:left;">
    {% if deck %}
	<b>Side:</b> {{ side }}<br /><br />
	<b>Identity:</b><br />
	{{ identity }}<br /><br />
    {% endif %}
    {% if cat_cards %}
	{% for type, subdeck in cat_cards.iteritems() %}
	    <b>{{ type }} ({{ subdeck.total }} total, {{ subdeck.cards|length }} unique):</b><br />
	    {% for card in subdeck['cards'] %}
		{{ card.name }} x{{ card.quantity }}<br />
	    {% endfor %}<br />
	{% endfor %}
	<b>{{ deck.total_cards }} total, {{ deck.total_unique_cards }}
	unique</b><br /><br />
    {% endif %}
    </div>
    <div style="float:right;">
    {% if flaws %}
	<b>Flaws:</b>
	{% for flaw in flaws %}
	    {{ flaw }}
	{% endfor %}
    {% endif %}
    </div>
    <div style="float:left;">
	<form action="/read_deck" method="POST">
	    <textarea name="deck_data" rows="30" cols="80">
	    {{ deck }}
	    </textarea>
	    <br />
	    <input type='submit' />
	</form>
    </div>
    <div style="float:left; width:100%;">
	<b>Stats:</b><br />
	{% for analysis_block in analysis %}
	    <table class="analysis_block">
	    {% for row in analysis_block %}
		<tr>
		{% for item in row %}
		    <td>{{ item }}</td>
		{% endfor %}
		</tr>
	    {% endfor %}
	    </table>
	{% endfor %}
    </div>

</html>
